html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
}

.column-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.column {
    display: table-cell;
    vertical-align: top;
}

.aside_grey {
    background-color: #2b2f3e;
    width: 293px;
}

.main {
    position: relative;
    height: 100%;
    width: 1009px;
    background-color: #f9f9f9;
    padding: 34px 0 33px 32px;
}

.logo {
    font-family: openSansLight;
    color: #565a69;
    font-size: 36px;
    margin: 23px 0 0 27px;
}

.rectangle {
    width: 100%;
}

.rectangle_aside {
    height: 57px;
    background-color: #ff3852;
    margin-top: 72px;
    padding-left: 27px;
    vertical-align: middle;
    line-height: 57px;
    font-size: 18px;
    font-family: openSansRegular;
    color: #ffffff;
}

.section {
    display: inline-block;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(186,186,186,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(186,186,186,1);
    box-shadow: 0px 0px 3px 1px rgba(186,186,186,1);
    overflow:auto;
}

.section_items {
    min-height: 484px;
    width: 439px;
    padding: 15px 15px 25px 25px;
}

.section_comments {
    vertical-align:top;
    min-height: 160px;
    width: 407px;
    padding: 15px 20px 12px 18px;
    margin-left: 16px;
}

.section__header {
    font-family: openSansLight;
    font-size: 36px;
    color: #666976;
}

.section__header_items,
.section__header_comments {
    margin-bottom: 21px;
}

.section__body_items {
    padding-left: 5px;
}

.input_text {
    padding-left: 9px;
    height: 33px;
    width: 279px;
    border: solid 2px #e6e6e6;
    margin-right: 6px;
}

.rounded {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

::-webkit-input-placeholder {
    font-family: openSansRegular;
    font-size: 16px;
    color: #b3b3b3;
}

::-moz-placeholder {
    color:    #b3b3b3;
    font-family: openSansRegular;
    font-size: 16px;
    opacity:  1;
}

.button {
    border: none;
    cursor: pointer;
}

.button_disabled {
    cursor: default;
    pointer-events: none;
}

.button_add {
    position: relative;
    top: 1px;
    height: 37px;
    width: 131px;
    text-align: center;
    font-family: openSansSemibold;
    font-size: 16px;
    color: #ffffff;
    background-color: #27ccc0;
}

.button_delete {
    width: 99px;
    height: 36px;
    background-color: #ffffff;
    color: #ff305a;
    border: 2px solid #ff98ac;
    font-family: openSansLight;
    font-size: 16px;
    position: relative;
    top: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.items-list {
    margin-top: 7px;
    padding-right: 3px;
}

.items-list__item {

    height: 54px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    vertical-align: middle;
    line-height: 54px;
}

.items-list__item-name {
    display: inline-block;
    font-family: openSansSemibold;
    font-size: 16px;
    margin-right: 5px;
}

.items-list__item-comments {
    display: inline-block;
    background-color: #27ccc0;
    height: 20px;
    min-width: 26px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    overflow-x: auto;
    cursor: pointer;
    border-radius: 173px 173px 173px 173px;
    -moz-border-radius: 173px 173px 173px 173px;
    -webkit-border-radius: 173px 173px 173px 173px;
}

.items-list__item-comments-num {
    margin: 0 7px 0 7px;
    font-family: openSansRegular;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}

.link:link,
.link:hover,
.link:active,
.link:visited {
    text-decoration: none;
    cursor: pointer;
}

.active-marker {
    position: absolute;
    z-index: 100;
    left: 29px;
    width: 5px;
    height: 55px;
    background-color: #ff2f5a;
}

.square-icon {
    display: inline-block;
    width: 52px;
    height: 52px;
}

.square-icon_grey {
    background-color: #e6e6e6;
}

.square-icon_orange {
    background-color: #ff8a00;
}

.square-icon_blue {
    background-color: #47568c;
}

.textarea {
    overflow: hidden;
    outline: none;
    resize: none;
    border: none;
}

.textarea_post-comment {
    font-family: openSansRegular;
    width: 320px;
    height: 65px;
    margin-left: 10px;
    vertical-align: top;
    border: 2px solid #e6e6e6;
}

.comments-list {
    margin-top: 29px;
}

.comments-list__comment {
    display: table;
    padding: 11px 0 21px 0;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
}

.comments-list__comment-last {
    border-bottom: none;
}

.comments-list__comment-icon {
    display: inline-block;
    margin-right: 14px;
    position: relative;
    top: 4px;
}

.comments-list__comment-text {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-family: openSansRegular;
    font-size: 12px;
    line-height: 150%;
    color: #666666;
}

@font-face {
    font-family: openSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: openSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: openSansSemibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

