<section class="section section_comments"
    ng-if="$ctrl.activeItemId")>
    <header class="section__header section__header_comments">
        Comments #{{$ctrl.activeItemId}}
    </header>
    <div class="section__body section__body_comments">
        <div class="comments-list">
            <div class="comments-list__comment"
                 ng-repeat="comment in $ctrl.comments track by $index"
                 ng-class="{'comments-list__comment-last': $last}">
                <div class="comments-list__comment-icon square-icon square-icon_orange"
                    ng-class="{'square-icon_orange': $index % 2 === 0,
                                'square-icon_blue': $index % 2 === 1}"></div>
                <div class="comments-list__comment-text">
                    {{comment.comment}}
                </div>
            </div>
        </div>
        <div class="post-comment">
            <div class="square-icon square-icon_grey"></div>
                <textarea class="textarea textarea_post-comment"
                          ng-model="$ctrl.comment"
                          ng-keypress="$ctrl.add($event, $ctrl.comment)"></textarea>
        </div>
    </div>
</section>