<div class="wrapper">
    <div class="column-wrapper">
        <aside class="aside aside_grey column">
            <div class="logo">Main</div>
            <nav class="nav">
                <div class="rectangle rectangle_aside">
                    Overview
                </div>
            </nav>
        </aside>
        <main class="main column">
            <items on-add-item="$ctrl.addItem(item)"
                   on-remove-item="$ctrl.removeItem(item)"
                   on-activate-item="$ctrl.activateItem(item)"
                   active-item-id="$ctrl.activeItemId"
                   items="$ctrl.items"></items>
            <comments active-item-id="$ctrl.activeItemId"
                   on-add-comment="$ctrl.addComment(comment)"
                   comments="$ctrl.comments"></comments>
        </main>
    </div>
</div>